#ProgressBarContainer {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 6px;
    margin: 0px;
    left: 0px;
    z-index: 9999999;
    background: #F0F0F0;
}

.progressBarFill {
    height: 6px;
    background: linear-gradient(to right, #3C3C96 ,#009EE0);
    position: fixed;
    top: 0px;
    z-index: 9999999;
    border-radius: 0px 3px 3px 0px;
}